spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - https://www.googleapis.com/auth/userinfo.email
              - https://www.googleapis.com/auth/userinfo.profile

  redis:
    host:  ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}

  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: journalDB
      auto-index-creation: true

  main:
    allow-circular-references: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    org:
      springframework:
        security: DEBUG

server:
  port: 8080

weather:
  api:
    key: ${WEATHER_API_KEY}
